html,
body {
  height: 100%;
}
body {
  margin: 0;
}

button {
  padding: 5px;
  background-color: #757575;
  color: #d9d9d9;
  outline: none;
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.converter {
  display: flex;
  flex-direction: column;
  height: 65vh;
  width: 50vw;
  align-items: center;
  border: 1px #4f4f4f solid;
  border-radius: 5px;
}

.operation {
  display: flex;
  flex-direction: column;
  height: 55vh;
  justify-content: space-around;
}
